<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    var values = {{ context | tojson }}
</script>
<body>
<div>
    <button class="favorite">Click me</button>
</div>

<canvas id="myChart" style="width:100%;max-width:1200px"></canvas>

<script>
    let investment_value = 1000;
    let code = 'MSFT'
    let yValues = values.yvalues;
    let xValues = values.xvalues;

    var myChart = new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,0,0.1)",
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            // scales: {
            //     yAxes: [{ticks: {min: 6, max: 16}}],
            // }
        }
    });

    $(document).ready(function () {
        $(".favorite").click(function () {
            axios.post('/', {'value': investment_value, 'code': code})
                .then(function (response) {
                    myChart.data.labels.pop();
                    myChart.data.datasets.forEach((dataset) => {
                        dataset.data.pop();
                    });
                    myChart.update();
                    myChart.data.labels = response.data.context.xvalues
                    myChart.data.datasets[0].data = response.data.context.yvalues
                    myChart.update()
                })
                .catch(function (error) {
                    console.log(error);
                });
        });
    });


</script>

</body>
</html>